/** Fallback font adjusted to match default font. To avoid a jarring shift of layout. */
@font-face {
  font-family: 'Adjusted Arial Fallback';
  src: local(Arial);
  size-adjust: 86%;
  ascent-override: normal;
  descent-override: normal;
  line-gap-override: 21%;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url("/fonts/RobotoCondensed-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url("/fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url("/fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Petch';
  src: url("/fonts/ChakraPetch-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Petch';
  src: url("/fonts/ChakraPetch-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Petch';
  src: url("/fonts/ChakraPetch-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

:root {
  /** Global variables */
  --robotoCondensed-font: RobotoCondensed, "Adjusted Arial Fallback";
  --petch-font: Petch, "Adjusted Arial Fallback";
}

html {
  /** Default font */
  font-family: var(--robotoCondensed-font);
}

body {
  margin: 0;
  padding: 0;
}