@use './prism.scss';
@use './grid-layout.scss';

/** Fallback font adjusted to match default font. To avoid a jarring shift of layout. */
@font-face {
  font-family: 'Adjusted Arial Fallback';
  src: local(Arial Narrow);
  size-adjust: 98%;
  ascent-override: normal;
  descent-override: normal;
  line-gap-override: 0%;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("/fonts/RobotoCondensed-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("/fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("/fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: 'Petch';
  src: url("/fonts/ChakraPetch-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: 'Petch';
  src: url("/fonts/ChakraPetch-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'Petch';
  src: url("/fonts/ChakraPetch-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}

:root {
  /** Global variables */
  --robotoCondensed-font: "Roboto Condensed", "Adjusted Arial Fallback";
  --petch-font: Petch, "Adjusted Arial Fallback";
}

html {
  /** Default font */
  font-family: var(--robotoCondensed-font);
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 90%;

  background-color: var(--colors-cyan10);
}